body, h1,img, a, input {
  margin: 0px;
  padding: 0px;
}
* {
  box-sizing: border-box;
}
img {
  display: block;
  max-width: 100%;
}
img.ativo {
  display: none;
}
body {
  background: #1c1b1b;
}

.main {
  max-width: 960px;
  margin: 0 auto;
  margin-top: 160px;
}

.main h1 {
  font-size: 2em;
  color: #cecece;
  font-family: Georgia, 'Times New Roman', Times, serif;
  letter-spacing: .1em;
  text-align: center;
}
.main h1::after {
  content: '';
  display: table;
  width: 100px;
  height: 5px;
  margin: 0 auto;
  margin-top: 10px;
  background: #cecece;
}
.main .img {
  background-color:  #cecece;
  max-width: 650px;
  height: 400px;
  margin: 0 auto;
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.load { 
  display: none;
  justify-content: center;
  align-items: center;
}
.load.ativo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.spin {
  background: #00000020;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 5px solid #00000000;
  border-top: 5px solid #fff;
  animation: loading .9s linear infinite;
}
.loading {
  position: absolute;
  color: #000;
  font-family: sans-serif;
  text-transform: uppercase;
}

@keyframes loading {
  100% {
    transform: rotate(360deg);
  }
}

@media(max-width: 700px)  {
  .main .img{
    margin-left: 20px;
    margin-right: 20px;
  }
}
@media(max-width: 800px) {
  .main h1 {
      font-size: 1.1em;
  }
}

.div-a{
  text-decoration: none;
  margin: 0 auto;
  text-align: center;
  margin-top: 20px;

}
.div-a a{
  color:  #cecece;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: .1em;
}

.form {
  display: block;
  margin: 0 auto;
  margin-top: 60px;
  text-align: center;
  color:  #cecece;
}
.form h1 {
  margin-bottom: 60px;
  font-size: 2em;
}
input {
  display: block;
  width: 300px;
  padding: .5rem;
  margin-left: 60px;
  margin-top: 5px;
  background:  #cecece;
 
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, .9);

}
label {
  margin: 0 auto;
  margin-top: 40px;
  display: block;
  color:  #cecece;
  text-align: left;
  margin-left: 60px;

}
#btn {
  width: 80px;
  margin-top: 10px;
  margin-bottom: 40px;
}

@media(max-width: 800px) {
  .form h1 {
      font-size: 1.1em;
  }
 
}